{% extends 'bases/base.html' %}
{% load static %}
{% block title %} Trial Exam {% endblock title %}
{% block nav_theme %}  bg-dark {% endblock nav_theme %}
{% block extra_style %}
    <!-- twitter-bootstrap-wizard css -->
    <link rel="stylesheet" href="{% static 'libs/twitter-bootstrap-wizard/prettify.css' %}">
{% endblock extra_style %}
{% block body_content %}

     <!-- Start Faq With Left Sidebar
    ============================================= -->
    <div class="faq-area left-sidebar course-details-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 faq-content">

                    <!-- Start Accordion -->
                    <div style="text-align: center;"><h3>Read Carefully Before Start Exams </h3></div>
                    <div class="acd-items acd-arrow">
                        <div class="panel-group symb" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac1">
                                            Basic Information About Practice Exams
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            During the Exam, if you reload a page its will be counted new Exam.
                                        </p>


                                        <ul>
                                            <li>The Maxiumin Time durration is 45 min</li>
                                            <li>This Exams Consit of three parts</li>
                                            <li>Impossible considered invitation him men instrument</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac2">
                                           Part One Hazard Prication
                                        </a>
                                    </h4>

                                </div>
                                <div id="ac2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         <p>
                                            During the Exam, if you reload a page its will be counted new Exam.
                                        </p>

                                        <ul>
                                            <li>25 Question about reconiaing  Danger</li>
                                            <li>Each Question Have 8 sec To answer</li>
                                            <li>Atleast answer 13 out of 25 questions correcttly to achive milestone </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac3">
                                             Part two About Traffic Rules
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            During the Exam, if you reload a page its will be counted new Exam.
                                        </p>

                                        <ul>
                                            <li>13 Question about How to participate in tarffic </li>
                                            <li>Read Each Question carefully before  answer </li>
                                            <li>Atleast answer 10 out of 12 questions correcttly to achive milestone</li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ac4">
                                            Part Three  About Traffic Insight
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            During the Exam, if you reload a page its will be counted new Exam.
                                        </p>

                                        <ul>
                                            <li>13 Question about tarffic insight  </li>
                                            <li>Read Each Question carefully before  answer </li>
                                            <li>Atleast answer 25 out of 28 questions correcttly to achive milestone</li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Accordion -->

<h4 style="text-align: center; margin-top: 10%; ">
                                   you must passed all part to be <b style="color: green;"> sucessfull </b> !
                                </h4>
                    <h3 style="align: center; background: #ffb606 none repeat scroll 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #002147;
    display: inline-block;
    font-weight: 600;
    margin-left: 38%;
    padding: 8px 25px;"><a href="course-details.html">Start Pratice Exams</a></h3>

                </div>
                <!-- Start Sidebar -->

                <!-- End Sidebar -->
            </div>
        </div>
    </div>
    <!-- End Faq -->
{% endblock body_content %}

{% block extra_js %}
    <!-- twitter-bootstrap-wizard js -->
    <script src="{% static 'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>

    <script src="{% static 'libs/twitter-bootstrap-wizard/prettify.js' %}"></script>

    <!-- form wizard init -->
    <script src="{% static 'js/pages/form-wizard.init.js' %}"></script>
{% endblock extra_js %}